/*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */
  
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define ALT 1
#define SYM 2
#define UPPER 3

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };
    behaviors {
        td_shft: tap_dance_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&skq LSHFT>, <&kp CLCK>;
        };
    };
    behaviors {
        hts: hold_tap_sticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&sk>, <&kp>;
        };
    };
    behaviors {
      skq: sticky_key_quick_release {
        compatible = "zmk,behavior-sticky-key";
        #binding-cells = <1>;
        bindings = <&kp>;
        release-after-ms = <1000>;
        quick-release;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
//        -----------------------------------------------------------------------------------------------------------------

                                    &mkp LCLK                                                                       &mkp RCLK
    &hts GLOBE GLOBE                &sk LGUI                                &mkp LCLK                               &sk LALT                        &kp TAB
    &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y            &kp U          &kp I           &kp O           &kp P
    &kp A           &kp S           &kp D           &kp F           &kp G           &kp H            &kp J          &kp K           &kp L           &kp BSPC
    &to ALT		    &kp Z           &kp X           &kp C           &kp V           &kp B            &kp N          &kp M	        &kp DLLR        &kp ENTER
                    &td_shft        &kp N0                                  &kp SPACE                               &to SYM         &kp CLCK
            >;
        };


        alt_layer {

            bindings = <        
                                    &mkp LCLK                                                                       &mkp RCLK
    &kp LEFT                        &kp DOWN                                &mkp LCLK                               &kp UP                          &kp RIGHT 
    &kp HASH        &kp N1          &kp N2          &kp N3          &kp LPAR        &kp RPAR        &kp UNDER       &kp MINUS       &kp PLUS        &kp AT
    &kp STAR        &kp N4          &kp N5          &kp N6          &kp SLASH       &kp COLON       &kp SEMI        &kp APOS        &kp DQT         &kp BSPC
    &to DEFAULT     &kp N7          &kp N8          &kp N9          &kp QMARK       &kp EXCL        &kp COMMA       &kp DOT         &kp DLLR        &kp ENTER
                    &kp CLCK        &kp N0                                  &kp SPACE                               &to SYM         &kp CLCK
            >;
        };


        sym_layer {

            bindings = <        
                                    &kp C_VOL_UP                                                                    &kp C_VOL_DN
    &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS &mkp LCLK                              &kp ESC                         &kp DEL 
    &kp TILDE       &kp GRAVE       &kp LBRC        &kp RBRC        &kp LBKT        &kp RBKT        &kp LT          &kp GT          &kp CARET       &kp PRCNT
    &kp EQUAL       &none           &none           &none           &kp BSLH        &kp PIPE        &kp AMPS        &none           &none           &kp BSPC
    &to ALT         &none           &none           &none           &none           &none           &none           &none           &none           &kp ENTER
                    &kp CLCK        &none                                   &kp SPACE                               &to DEFAULT     &to UPPER
            >;
        };

        upper_layer {

            bindings = <
                                    &msc SCRL_UP                                                                    &msc SCRL_DOWN
    &bt BT_SEL 0                    &bt BT_SEL 1                            &td0                                    &bt BT_SEL 2                    &bt BT_SEL 3
    &none           &none           &kp UP          &sys_reset      &ext_power EP_TOG &none         &none           &none           &none           &none
    &none           &kp LEFT        &none           &kp RIGHT       &none             &none         &none           &none           &none           &none
    &to DEFAULT     &none           &kp DOWN        &none           &bl BL_DEC        &bl BL_TOG    &bl BL_INC      &none           &bootloader     &none
                    &to DEFAULT     &to DEFAULT                             &hm OUT_TOG SPACE                       &to DEFAULT     &to DEFAULT
            >;
        };
    };
};

