/*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */
  
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define ALT 1
#define SYM 2
#define UPPER 3

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };
    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
        };
    };
    behaviors {
        htks: hold_tap_kp_skq {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&skq>;
        };
    };
    behaviors {
        tdsc: tap_dance_shft_clck {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&htks CLCK LSHFT>, <&kp CLCK>;
        };
    };
    behaviors {
        htsk: hold_tap_skq_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&skq>, <&kp>;
        };
    };
    behaviors {
        tdcs: tap_dance_clck_shft {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&htsk LSHFT CLCK>, <&skq LSHFT>;
        };
    };
    behaviors {
        tdp: tap_dance_punctuations {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp COMMA>, <&kp EXCL>, <&kp QMARK>;
        };
    };
    behaviors {
        htl: hold_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&to>, <&msl>;
        };
    };
    behaviors {
        tdal: tap_dance_alt_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&htl ALT ALT>, <&to ALT>;
        };
    };
    behaviors {
        tdsl: tap_dance_sym_layer {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&htl SYM SYM>, <&to SYM>;
        };
    };
    macros {
        msl: macro_sticky_layer {
            compatible = "zmk,behavior-macro-two-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings
                = <&macro_tap &to DEFAULT>
                , <&macro_param_1to1>
                , <&macro_tap &sl MACRO_PLACEHOLDER>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
//        -----------------------------------------------------------------------------------------------------------------

                                    &mkp LCLK                                                                       &mkp RCLK
    &sk GLOBE                       &sk LGUI                                &mkp LCLK                               &sk RALT                        &sk RCTRL
    &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y            &kp U          &kp I           &kp O           &kp P
    &kp A           &kp S           &kp D           &kp F           &kp G           &kp H            &kp J          &kp K           &kp L           &kp BSPC
    &htl ALT ALT    &kp Z           &kp X           &kp C           &kp V           &kp B            &kp N          &kp M           &tdp            &kp RET
                    &htks CLCK LSHFT &kp TAB                                 &kp SPACE                               &htl SYM SYM    &htks CLCK LSHFT
            >;
        };


        alt_layer {

            bindings = <
                                    &msc SCRL_UP                                                                    &msc SCRL_DOWN
    &kp LEFT                        &kp DOWN                                &mkp LCLK                               &kp UP                          &kp RIGHT 
    &kp HASH        &kp N1          &kp N2          &kp N3          &kp LPAR        &kp RPAR        &kp UNDER       &kp MINUS       &kp PLUS        &kp AT
    &kp STAR        &kp N4          &kp N5          &kp N6          &kp SLASH       &kp COLON       &kp SEMI        &kp APOS        &kp DQT         &kp BSPC
    &to DEFAULT     &kp N7          &kp N8          &kp N9          &kp QMARK       &kp EXCL        &kp COMMA       &kp DOT         &kp DLLR        &kp RET
                    &htks CLCK LSHFT &kp N0                                  &kp SPACE                               &htl SYM SYM    &htks CLCK LSHFT

            >;
        };


        sym_layer {

            bindings = <
                                    &kp C_VOL_DN                                                                    &kp C_VOL_UP
    &kp ESC                         &kp HOME                                &mkp LCLK                               &kp END                         &kp DEL 
    &kp TILDE       &kp GRAVE       &kp LBRC        &kp RBRC        &kp LBKT        &kp RBKT        &kp LT          &kp GT          &kp CARET       &kp PRCNT
    &kp EQUAL       &sk LSHFT       &none           &none           &kp BSLH        &kp PIPE        &kp AMPS        &none           &none           &kp BSPC
    &htl ALT ALT    &sk LCTRL       &sk LALT        &sk LGUI        &none           &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp RET
                    &htks CLCK LSHFT &sk GLOBE                               &kp SPACE                               &to DEFAULT     &to UPPER

            >;
        };

        upper_layer {

            bindings = <
                                    &kp C_VOL_DN                                                                    &kp C_VOL_UP
    &bt BT_SEL 0                    &bt BT_SEL 1                            &td0                                    &bt BT_SEL 2                    &bt BT_SEL 3
    &none           &none           &kp UP          &sys_reset      &ext_power EP_TOG &none         &none           &none           &none           &none
    &none           &kp LEFT        &none           &kp RIGHT       &none             &none         &none           &none           &none           &none
    &to DEFAULT     &none           &kp DOWN        &none           &bl BL_DEC        &bl BL_TOG    &bl BL_INC      &none           &bootloader     &none
                    &to DEFAULT     &to DEFAULT                             &out OUT_TOG                            &to DEFAULT     &to DEFAULT
            >;
        };
    };
};

